////////////////// variables /////////////

$orange: #FFB319;
$dark-orange: #cc911b;
$light-orange: #FFE194;
$light-blue: #E8F6EF;
$blue: #B8DFD8;
$light-white: #F5F7F6;
$dark-blue: #62807A;
$border-grey: #d3d3d3;
$green: #4FDB6D;
$red: #DB4F4F;
$info-blue: #4F9CDB;
$button-radius: 10px;
$input-radius: 10px;


