// ////////////////// modals //////////////////

#note-modal{
  #task-title-heading{
    margin: 0px 0px 10px 0px;
  }
  #task-description-heading{
    margin: 0px 0px;
  }
  #task-description{
    font-size: 14px;
    margin: 2px 0;
    line-height: 1.2rem;
  }
}